<footer class="footer mt-auto py-3 pt-4">
  <div class="container">
    <div class="row border-top pt-4">
      <div class="col-12">
        <h5>Stasis</h5>
        <small class="d-block mb-3 text-muted">With <span role="img" aria-label="love">❤</span>by @Gioni06</small>
      </div>
    </div>
  </div>
</footer>
